header {
  display: inline-table;
  width: 220px;
  height: 100vh;
  text-align: center;
  background-color: #100a22;
}

.staticHeader h1 {
  padding: 10px;
  margin: 15px auto;
  font-size: 3em;
  color: white;
}

.staticHeader a {
  text-decoration: none;
}

.dinamicHeader li {
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  border: 3px solid #000;
  background-color: #BBB;
  color: #000;
  transition: 0.1s;
}

.dinamicHeader li:hover {
  background-color: rgb(255, 255, 255);
  transform: translateX(17px);
}

.dinamicHeader a {
  text-decoration: none;
}

main {
  background-color: #fff;
}
